<div class="property-main-photo">
  <%= link_to (property_photo_url(@property)) %>
  <div class="photo-overlay">
  </div>
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col-6">
      <p class="m0"><%= @property.address%></p>
      <p class="h2">For Sales</p>
      <div class="col-6">
        <div class="">
          <%= @property.rooms%>
        </div>
        <div class="">
          <%= @property.bathrooms%>
        </div>
        <div class="">
          <%= @property.parkinng_spaces%>
        </div>
      </div>
    </div>
    
    <div class="col-8">
      <div id="<%= dom_id property %>">
        <p>
          <strong>Name:</strong>
          <%= property.name %>
        </p>

        <p>
          <strong>Address:</strong>
          <%= property.address %>
        </p>

        <p>
          <strong>Price:</strong>
          <%= property.price %>
        </p>

        <p>
          <strong>Rooms:</strong>
          <%= property.rooms %>
        </p>

        <p>
          <strong>Bathrooms:</strong>
          <%= property.bathrooms %>
        </p>

      </div>
    </div>
    <div class="col-4">
      <%= render "properties/agent_details" %>
    </div>
  </div>
</div>
